--tables implementing the training example
--with sample data
--István Vassányi, 2018

--USE [Your own DB name]
GO
/****** Object:  Table [dbo].[emp_categ]    Script Date: 2/16/2018 3:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emp_categ](
	[emp_categ_id] [int] NOT NULL,
	[emp_categ_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_emp_categ] PRIMARY KEY CLUSTERED 
(
	[emp_categ_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[emp_session]    Script Date: 2/16/2018 3:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emp_session](
	[emp_id] [int] NOT NULL,
	[session_id] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[fees_paid] [money] NULL,
 CONSTRAINT [PK_emp_session] PRIMARY KEY CLUSTERED 
(
	[emp_id] ASC,
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[session_exam]    Script Date: 2/16/2018 3:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[session_exam](
	[emp_id] [int] NOT NULL,
	[session_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
	[grade] [varchar](50) NULL,
 CONSTRAINT [PK_session_exam] PRIMARY KEY CLUSTERED 
(
	[emp_id] ASC,
	[session_id] ASC,
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[session_skill]    Script Date: 2/16/2018 3:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[session_skill](
	[session_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
 CONSTRAINT [PK_session_skill] PRIMARY KEY CLUSTERED 
(
	[session_id] ASC,
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[skill_req]    Script Date: 2/16/2018 3:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill_req](
	[skill_id] [int] NOT NULL,
	[emp_categ_id] [int] NOT NULL,
 CONSTRAINT [PK_skill_req] PRIMARY KEY CLUSTERED 
(
	[skill_id] ASC,
	[emp_categ_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[train_comp]    Script Date: 2/16/2018 3:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[train_comp](
	[train_comp_id] [int] NOT NULL,
	[train_comp_name] [nvarchar](max) NULL,
 CONSTRAINT [PK_train_comp] PRIMARY KEY CLUSTERED 
(
	[train_comp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[train_session]    Script Date: 2/16/2018 3:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[train_session](
	[session_id] [int] NOT NULL,
	[train_comp_id] [int] NOT NULL,
	[date_start] [date] NOT NULL,
	[date_end] [date] NULL,
	[session_code] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_train_session] PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[train_skill]    Script Date: 2/16/2018 3:25:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[train_skill](
	[skill_id] [int] NOT NULL,
	[skill_name] [nvarchar](50) NOT NULL,
	[skill_desc] [nvarchar](max) NULL,
 CONSTRAINT [PK_train_skill] PRIMARY KEY CLUSTERED 
(
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[emp_categ] ([emp_categ_id], [emp_categ_name]) VALUES (2, N'Inside Sales Coordinator')
GO
INSERT [dbo].[emp_categ] ([emp_categ_id], [emp_categ_name]) VALUES (3, N'Sales Manager')
GO
INSERT [dbo].[emp_categ] ([emp_categ_id], [emp_categ_name]) VALUES (4, N'Sales Representative')
GO
INSERT [dbo].[emp_session] ([emp_id], [session_id], [status], [fees_paid]) VALUES (2, 3, N'completed', 1400.0000)
GO
INSERT [dbo].[emp_session] ([emp_id], [session_id], [status], [fees_paid]) VALUES (3, 1, N'completed', 1100.0000)
GO
INSERT [dbo].[emp_session] ([emp_id], [session_id], [status], [fees_paid]) VALUES (4, 1, N'completed', 1100.0000)
GO
INSERT [dbo].[session_exam] ([emp_id], [session_id], [skill_id], [grade]) VALUES (2, 3, 1, N'good')
GO
INSERT [dbo].[session_exam] ([emp_id], [session_id], [skill_id], [grade]) VALUES (3, 1, 2, N'fair')
GO
INSERT [dbo].[session_exam] ([emp_id], [session_id], [skill_id], [grade]) VALUES (3, 1, 4, N'fair')
GO
INSERT [dbo].[session_skill] ([session_id], [skill_id]) VALUES (1, 2)
GO
INSERT [dbo].[session_skill] ([session_id], [skill_id]) VALUES (1, 4)
GO
INSERT [dbo].[session_skill] ([session_id], [skill_id]) VALUES (1, 5)
GO
INSERT [dbo].[skill_req] ([skill_id], [emp_categ_id]) VALUES (1, 5)
GO
INSERT [dbo].[skill_req] ([skill_id], [emp_categ_id]) VALUES (2, 2)
GO
INSERT [dbo].[skill_req] ([skill_id], [emp_categ_id]) VALUES (2, 3)
GO
INSERT [dbo].[train_comp] ([train_comp_id], [train_comp_name]) VALUES (1, N'Fast Lane Training Co.')
GO
INSERT [dbo].[train_comp] ([train_comp_id], [train_comp_name]) VALUES (2, N'Easy Progress Masters Co.')
GO
INSERT [dbo].[train_comp] ([train_comp_id], [train_comp_name]) VALUES (3, N'The HR Tutors Co.')
GO
INSERT [dbo].[train_session] ([session_id], [train_comp_id], [date_start], [date_end], [session_code]) VALUES (1, 1, CAST(N'2017-10-10' AS Date), CAST(N'2017-10-15' AS Date), N'FL-ENG-ACC')
GO
INSERT [dbo].[train_session] ([session_id], [train_comp_id], [date_start], [date_end], [session_code]) VALUES (2, 1, CAST(N'2018-10-15' AS Date), CAST(N'2018-10-20' AS Date), N'FL-LEG-TRAD')
GO
INSERT [dbo].[train_session] ([session_id], [train_comp_id], [date_start], [date_end], [session_code]) VALUES (3, 3, CAST(N'2017-11-15' AS Date), CAST(N'2017-11-20' AS Date), N'HRT-ENGL')
GO
INSERT [dbo].[train_skill] ([skill_id], [skill_name], [skill_desc]) VALUES (1, N'Business English Adv', NULL)
GO
INSERT [dbo].[train_skill] ([skill_id], [skill_name], [skill_desc]) VALUES (2, N'Business English Basic', NULL)
GO
INSERT [dbo].[train_skill] ([skill_id], [skill_name], [skill_desc]) VALUES (3, N'Business English Scient', NULL)
GO
ALTER TABLE [dbo].[emp_session]  WITH CHECK ADD  CONSTRAINT [FK_emp_session_Employees] FOREIGN KEY([emp_id])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[emp_session] CHECK CONSTRAINT [FK_emp_session_Employees]
GO
ALTER TABLE [dbo].[emp_session]  WITH CHECK ADD  CONSTRAINT [FK_emp_session_train_session] FOREIGN KEY([session_id])
REFERENCES [dbo].[train_session] ([session_id])
GO
ALTER TABLE [dbo].[emp_session] CHECK CONSTRAINT [FK_emp_session_train_session]
GO
ALTER TABLE [dbo].[session_exam]  WITH CHECK ADD  CONSTRAINT [FK_session_exam_emp_session] FOREIGN KEY([emp_id], [session_id])
REFERENCES [dbo].[emp_session] ([emp_id], [session_id])
GO
ALTER TABLE [dbo].[session_exam] CHECK CONSTRAINT [FK_session_exam_emp_session]
GO
ALTER TABLE [dbo].[session_exam]  WITH CHECK ADD  CONSTRAINT [FK_session_exam_session_skill] FOREIGN KEY([session_id], [skill_id])
REFERENCES [dbo].[session_skill] ([session_id], [skill_id])
GO
ALTER TABLE [dbo].[session_exam] CHECK CONSTRAINT [FK_session_exam_session_skill]
GO
ALTER TABLE [dbo].[session_skill]  WITH CHECK ADD  CONSTRAINT [FK_session_skill_train_session] FOREIGN KEY([session_id])
REFERENCES [dbo].[train_session] ([session_id])
GO
ALTER TABLE [dbo].[session_skill] CHECK CONSTRAINT [FK_session_skill_train_session]
GO
ALTER TABLE [dbo].[session_skill]  WITH CHECK ADD  CONSTRAINT [FK_session_skill_train_skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[train_skill] ([skill_id])
GO
ALTER TABLE [dbo].[session_skill] CHECK CONSTRAINT [FK_session_skill_train_skill]
GO
ALTER TABLE [dbo].[skill_req]  WITH CHECK ADD  CONSTRAINT [FK_skill_req_emp_categ] FOREIGN KEY([emp_categ_id])
REFERENCES [dbo].[emp_categ] ([emp_categ_id])
GO
ALTER TABLE [dbo].[skill_req] CHECK CONSTRAINT [FK_skill_req_emp_categ]
GO
ALTER TABLE [dbo].[skill_req]  WITH CHECK ADD  CONSTRAINT [FK_skill_req_train_skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[train_skill] ([skill_id])
GO
ALTER TABLE [dbo].[skill_req] CHECK CONSTRAINT [FK_skill_req_train_skill]
GO
ALTER TABLE [dbo].[train_session]  WITH CHECK ADD  CONSTRAINT [FK_train_session_train_comp] FOREIGN KEY([train_comp_id])
REFERENCES [dbo].[train_comp] ([train_comp_id])
GO
ALTER TABLE [dbo].[train_session] CHECK CONSTRAINT [FK_train_session_train_comp]
GO
alter table employees add emp_categ_id int
go
alter table employees add constraint c101 foreign key (emp_categ_id) references emp_categ(emp_categ_id)
go
update Employees set emp_categ_id=c.emp_categ_id
from Employees e inner join emp_categ c on e.Title=c.emp_categ_name
